{
  "extends": ["eslint-config-unjs"],
  "rules": {
    "unicorn/no-null": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-module": 0,
    "unicorn/prefer-top-level-await": 0,
    "unicorn/no-array-reduce": 0,
    "unicorn/filename-case": [
      "error",
      {
        "case": "snakeCase"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-vars": 0
  }
}
